.cards {
  display: grid;
  margin: 0 auto;
  width: 1140px;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px 20px;
  padding-top: 70px;
}

@media screen  and (min-width: 767px) and (max-width: 1200px) {
  .cards {
    width: 708px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cards {
    width: 300px;
    grid-template-columns: repeat(1, 1fr);
  }
}