.about-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 91%;
  margin: 0 auto;
  padding: 110px 0;
}

.about-project__title {
  font-weight: 400;
  margin: 0;
}

.about-project__title_size_m {
  display: flex;
  align-self: flex-start;
  width: 100%;
  font-size: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
}

.about-project__wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 70px;
}

.about-project__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about-project__title_size_s {
  font-size: 20px;
}

.about-project__text {
  margin: 0;
  font-size: 14px;
}

.line {
  min-width: 100%;
  padding-top: 110px;
  display: flex;
  margin: 0 auto;
}

.line__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.line__container_type_s {
  min-width: 20%;
}

.line__container_type_l {
  min-width: 80%;
}

.line__title {
  font-size: 14px;
  padding: 9px 0;
  display: flex;
  justify-content: center;
  margin: 0;
  min-width: 100%;
}

.line__title_type_s {
  background-color: rgba(61, 220, 132, 1);
  color: rgba(0, 0, 0, 1);
}

.line__title_type_m {
  background-color: rgba(48, 48, 48, 1);
}

.line__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: rgba(139, 139, 139, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about-project__wrapper {
    padding-top: 60px;
    flex-direction: column;
  }

  .about-project__title_size_s {
    font-size: 18px;
    line-height: 21.78px;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 16px;
  }

  .line__container_type_s {
    min-width: 35%;
  }

  .line__container_type_l {
    min-width: 65%;
  }
}